.focus{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0px;
}

.quadrato{
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    margin: 10px 20% 10% 20% ; 
      
}

header{
    padding: 5% 5% 0% 5%;
    text-align: center;    
}

.titolo {
    color: lime;
    font-size: 20px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#logo-testa{
    width: 20%;
    height: 20%;
    align-items: center;
}

nav{
    text-align: center;
    background-color: lime;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
    
}

button{
    font-size: 10px;
}

.centro{
    text-align: left;
    padding: 8px 8px 8px 0px;
    margin: 5% 10%;
}

.click{
   width: 10px;
   height: 10px;
   margin: 0%;
   margin-right: 4px;

}
h4{
    display: inline-block;
    color: white;
    margin: 0%;
}
p{
    color: white;
    margin: 0%;
}

.carica-gi{
  background-color:orange;
  width: 35%;
  height: 15px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.carica-mi{
    background-color:forestgreen;
    width: 65%;
    height: 15px;
    border-radius: 5px;
    margin-bottom: 5%;
}
   
.carica-fe{
        background-color: brown;
        width: 15%;
        height: 15px;
        border-radius: 5px;
        margin-bottom: 5%;
}   